.pos{
  height: 40vh;
  width: 100vw;
  font-size: 20vh;
  /* background-color: brown; */
}
.neg{
  height: 50vh;
  width: 100vw;
  font-size: 20vh;
  color:white;
  background-color: black;
}

.img{
  height:10vh;
  width:30vw;
  background-color: white;
}

.white{
  height:10vh;
  width:20vw;
  background-color: white;
}

.App{
  display:flex;
  justify-content: center;
  flex-direction:column
}

.App div{
  text-align: center;
}