.pos{
  height: 50vh;
  width: 100vw;
  position : relative;
  /* font-size: 18vh; */
}
.neg{
  height: 50vh;
  width: 100vw;
  /* font-size: 13vh; */
  color:white;
  background-color: black;
  position :relative;
}

.pp{
  position:absolute;
  z-index: 1;
  top:45%;
  left:35vw;
}

.img{
  height:10vh;
  width:30vw;
}

.antipos{
  height:10vh;
  width:20vw;
  position: absolute;
  top:3vh;
  right:0vw;
  z-index: 10;
}

.antineg{
  height:10vh;
  width:20vw;
  position: absolute;
  bottom:8vh;
  right:0vw;
  z-index: 10;
}

.App{
  position :relative;
}

.App div{
  text-align: center;
}

.nval{
  font-size: 12vh;
  position:absolute;
  top:30vh;
  /* left:50vw; */
}

.npos{
  font-size: 12vh;
  position:absolute;
  /* left:52vw; */
}

.per{
  font-size: 12vh;
  position: absolute;
  top:60%;
  /* left:10vw; */
}